*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
@font-face {
  font-family: "pantheraregular";
  src: url("../font/pantheraregular-mvz9j-webfont.woff2") format("woff2"),
    url("../font/pantheraregular-mvz9j-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "beynoregular";
  src: url("../font/beyno-webfont.woff2") format("woff2"),
    url("../font/beyno-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "wakanda_foreverregular";
  src: url("../font/wakandaforever-regular-webfont.woff2") format("woff2"),
    url("../font/wakandaforever-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cantarellregular";
  src: url("../font/cantarell-regular-webfont.woff2") format("woff2"),
    url("../font/cantarell-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------------^^ Les font family ^^---------- */
body {
  background-image: url("../Allpages/arrière_plan.png");
  background-size: cover;
}
.navlink {
  width: 100%;
  height: 300px;
}
.header {
  width: 100%;
  height: 100vh;
}
/* --------------Les deux ligne vertical à gauche et les reseaux sociaux ---------------------- */
.ligneGauche {
  position: fixed;
  width: 3px;
  height: 60vh;
  background-color: #f2cef2;
  margin-left: 3%;
}
.lignetDoite {
  position: relative;
  width: 3px;
  height: 42vh;
  background-color: #f2cef2;
  margin-left: 6.5%;
}
.ligneDroiteRs {
  width: 20px;
  height: 60vh;
  position: fixed;
  margin-left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.reseauSociaux {
  width: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
/* ---------Partie barre de navigation et les 3 logos Sayna x Marvel--------------- */
.logoNavigation {
  width: 100%;
  height: 100px;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed; */
}
.logoSaynaXMarvel {
  width: 140px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgb(44, 42, 165); */
}
.headerNav {
  width: 500px;
  height: auto;
  /* background-color: rgb(22, 58, 58); */
}
.navUl {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: blueviolet; */
}
.item {
  list-style: none;
}
.item a {
  text-decoration: none;
  font-family: "beynoregular";
  color: #ffffff;
  font-size: 22px;
}
/* -------------Partie titre H1 et image de black Panther------------- */
.titleImage {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}
.titleInfos {
  position: relative;
  z-index: 999;
  width: 30%;
  height: auto;
  margin-top: 50px;
  /* background-color: blueviolet; */
  margin-left: 200px;
}
.titleInfos h1 {
  font-family: "pantheraregular";
  font-size: 68px;
  color: #9e91b7;
  margin-bottom: 20px;
}
.titleInfos h2 {
  font-family: "beynoregular";
  font-size: 32px;
  color: #9e91b7;
  margin-bottom: 30px;
}
.titleInfos p,
.titleInfos a {
  font-family: "cantarellregular";
  font-size: 16px;
  width: 90%;
  color: #ffffff;
}
.titleInfos p {
  margin-bottom: 20px;
}
.HeaderImg {
  width: 65%;
  height: auto;
  /* background-color: aqua; */
}
.HeaderImg img {
  width: 100%;
  height: auto;
  margin-right: 0px;
}

/* -------------------------Responsive header------------------ */
@media screen and (max-width: 1540px) {
  .logoNavigation {
    /* background-color: aqua; */
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 792px) {
  .logoNavigation {
    /* background-color: aqua; */
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 750px) {
  .logoNavigation {
    /* background-color: aqua; */
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 510px) {
  .headerNav {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 910px) {
  .titleImage {
    flex-direction: column;
    justify-content: space-around;
    /* background-color: blueviolet; */
  }
  .titleInfos {
    /* background-color: #9e91b7; */
    width: 80%;
    margin-left: auto;
  }
  .HeaderImg {
    min-width: 300px;
    height: auto;
    /* background-color: aqua; */
  }
  .HeaderImg img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    /* position: absolute; */
  }
}
